.site-footer { background: var(--dark-teal); color: white; }

.footer-main { border-bottom: 1px solid rgba(255,255,255,0.1); }

.footer-links a { 
    color: #aebdbf; 
    font-size: 13px; 
    font-weight: 700; 
    margin-right: 20px; 
    text-decoration: none;
}
.footer-links a:hover { color: white; }

.social-item { 
    width: 31.2px; 
    height: 31.2px; 
    border: 2px solid var(--main-green); 
    border-radius: 50%; 
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    margin-left: 10px; 
    transition: 0.3s;
    color: var(--main-green);
    text-decoration: none !important;
    vertical-align: middle; 
}

.social-item.no-border {
    border: none; 
}

.custom-social-icon {
    width: 32px; 
    height: 32px;
    object-fit: contain; 
    display: block; 
}

.detail-bg {
  
    background-image: url('../images/watermark.svg'); 
    background-repeat: no-repeat; 
    background-position: center center; 
    background-size: 80%; 
}
.social-item:hover { background: var(--main-green); color: var(--dark-teal); }

.footer-copyright { background: var(--footer-dark); color: #8c9fa1; font-size: 11px; }