.site-header { padding: 20px 0; background: transparent; }

.search-box { border-bottom: 1px solid #333; display: flex; }
.search-box input { border: none; background: transparent; outline: none; font-size: 14px; }
.search-box button { border: none; background: transparent; }

.main-nav .nav-link { 
    color: var(--dark-teal); 
    font-weight: 700; 
    transition: 0.3s; 
}
.main-nav .nav-link:hover { color: var(--main-green); }